body {
	background-color: #008080;
	font-family: 'Kumar One', cursive;
}

h1 {
	text-align: center;
	
	
}

#titre {
	border:1px solid black;
	border-radius: 15px;
	background-color: #F5FFFA;
	box-shadow: 10px 5px 5px silver;
}

p {
	text-align: center;

}

.photo {
	width: 150px;
	height: 200px;
	border:border:1px solid black;
	border-radius: 15px;
	
}

#photo {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;

}

#chronotime {
	display: flex;
	justify-content: center;
	color: red;
}

#recommence {
	border-radius: 5px;
	border-radius: 5px;
	margin-top: 280%;
}

#joueur{
	margin-top: 105%;
}